<!-- 菜单-->
<template>
  <el-container style="width: 100%;height: 100%">
    <el-aside width="25%" style="box-shadow: 0 0px 0.5px">
      <el-input style="margin-top: 10px" placeholder="输入关键字进行过滤" size="mini"/>
      <el-tree style="margin-top: 3px" v-loading="loading" :data="treeData" :props="defaultProps" @node-click="handleNodeClick"/>
    </el-aside>
    <el-main>
      <el-form :model="menuForm" size="small" style="text-align:left">
        <el-form-item label="上级菜单:" prop="parentName">
          <el-input disabled v-model="menuForm.parentName"/>
        </el-form-item>
        <el-form-item label="菜单编码:" prop="id">
          <el-input disabled v-model="menuForm.id"/>
        </el-form-item>
        <el-form-item label="菜单名称:" prop="name">
          <el-input v-model="menuForm.name"/>
        </el-form-item>
        <el-form-item label="菜单路径:" prop="url">
          <el-input v-model="menuForm.url"/>
        </el-form-item>
        <el-form-item label="菜单图标:" prop="icon">
          <el-input v-model="menuForm.icon"/>
        </el-form-item>
        <el-form-item label="菜单排序:" prop="orderNum">
          <el-input v-model="menuForm.orderNum"/>
        </el-form-item>
        <el-form-item >
          <el-button icon="el-icon-circle-plus" v-show="buttonShow" type="primary" round size="mini" @click="submit('add')">新增保存</el-button>
          <el-button icon="fa fa-floppy-o" type="primary" round size="mini" @click="submit('edit')"> 修改保存</el-button>
          <el-button icon="el-icon-remove" type="primary" round size="mini" @click="del">删除</el-button>
        </el-form-item>
      </el-form>
    </el-main>
  </el-container>
</template>

<script>

  export default {
    data() {
      return {
        loading: false,
        isAddOrEdit: true,
        queryTreeParam: {
          name: ''
        },
        buttonShow: true,
        menuForm: {
          id: '',
          name: '',
          url: '',
          icon: '',
          parentId: '',
          parentName: '',
          type: '',
          orderNum: ''
        },
        treeData: [],
        defaultProps: {
          children: 'children',
          label: 'name'
        }
      }
    },
    // 初始化
    created(){
      //  初始化Tree数据
      this.getTreeData()
    },
    methods: {
      // 查询菜单树
      getTreeData() {
        this.loading = true
        this.$api.menu.findNavTree(this.queryTreeParam).then(res => {
          this.treeData = res.data
          this.loading = false
        });
      },
      handleNodeClick(data) {
        console.info(data)
        this.menuForm.id = data.id
        this.menuForm.name = data.name
        this.menuForm.url = data.url
        this.menuForm.icon = data.icon
        this.menuForm.orderNum = data.orderNum
        this.menuForm.parentName = data.parentName
        this.menuForm.parentId = data.parentId

        this.isAddOrEdit = false
        if (data.parentId != 0) {
          this.buttonShow = false
        } else {
          this.buttonShow = true
        }
      },
      // 新增
      submit(type) {
        this.menuForm.type = type
        this.$api.menu.save({...this.menuForm}).then(res => {
          if (res.success) {
            this.$message.success("操作成功！！！")
          } else {
            this.$message.success("操作失败！！！")
          }
        })
      },
      // 删除
      del() {
        this.$api.menu.batchDelete({...this.menuForm}).then(res => {
          if (res.success) {
            this.$message.success("操作成功！！！")
          } else {
            this.$message.success("操作失败！！！")
          }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
.el-input {
  width: 200px;
}

</style>
