<template>
  <baidu-map class="map" :center="center" :zoom="zoom" @click="clickAction"
             v-loading.body="mapLoading"
             @moving="bindCenterAndZoom" @moveend="bindCenterAndZoom" @zoomend="bindCenterAndZoom"
             :map-click="false">
    <bm-navigation anchor="BMAP_ANCHOR_TOP_RIGHT" />
    <bm-overview-map anchor="BMAP_ANCHOR_BOTTOM_RIGHT" :isOpen="false" />
    <bm-marker v-if="overlay.marker.position" :position="overlay.marker.position"
               :labelStyle="{color: 'red', fontSize : '24px'}"
               :dragging="action.editable && action.code === 1" />
    <bm-polygon :path="overlay.polygon" stroke-color="#66CC00" :stroke-opacity="0.5" :stroke-weight="1.5"
                fill-color="#66CC00" :fill-opacity="0.3" :editing="action.editable && action.code === 2"
                @lineupdate="updatePolygonPath($event, 'polygon')" />
    <bm-control v-if="clickStatus">
      <el-button-group>
        <el-tooltip class="item" content="绘制配送站位置">
          <el-button type="primary" icon="el-icon-location" size="small" @click="drawAction(1)"></el-button>
        </el-tooltip>
        <el-tooltip class="item" content="绘制配送站收派范围">
          <el-button type="primary" size="small" @click="drawAction(2)"><i class="fa fa-circle-thin" /></el-button>
        </el-tooltip>
      </el-button-group>
    </bm-control>
    <bm-control v-else>
      <el-button-group>
        <el-tooltip class="item" content="保存">
          <el-button type="primary" icon="fa fa-floppy-o" size="small"@click="save"></el-button>
        </el-tooltip>
        <el-tooltip class="item" content="保存">
          <el-button type="primary" icon="fa fa-floppy-o" size="small"@click="save"></el-button>
        </el-tooltip>
      </el-button-group>
    </bm-control>
  </baidu-map>
</template>

<script>
    export default {
      name: "drawing",
      data() {
        return {
          mapLoading: false,
          clickStatus: true,
          center: {lng: 121.25610352, lat: 31.23041379},
          zoom: 11,
          ifPoint: 0,
          point: {lng: '', lat: ''},
          overlay: {
            marker: {},
            polygon: []
          },
          action: {
            code: -1,
            name: 'N/A',
            editable: false
          }
        }
      },
      methods: {
        // 图形保存
        save() {
          console.info('范围:' + this.overlay.polygon)
          console.info('坐标:' + this.overlay.marker)
        },
        // 绘制按钮
        clickAction (e) {
          switch (this.action.code) {
            case 1:
              this.overlay.marker.position = e.point
              break
            case 2:
              this.overlay.polygon.push(e.point)
              break
            default:
              break
          }
        },
        updatePolygonPath (e, el) {
          this.overlay[el] = e.target.getPath()
        },
        // 绘图类型（坐标--点，范围--多边形）
        drawAction (code) {
          if (code == 1) {
            //this.clickStatus = false
            this.action = {code: 1, name: '配送站收派范围', editable: true}
          } else {
            //this.clickStatus = true
            this.action = {code: 2, name: '配送站收派范围', editable: true}
          }
        },
        // 显示中心点 --- 缩放等级
        bindCenterAndZoom (e) {
          let {lng, lat} = e.target.getCenter()
          this.center = {lng: lng, lat: lat}
          this.zoom = e.target.getZoom()
        }
      }
    }
</script>

<style scoped>
  .map {
    width: 100%;
    height: 100%;
  }
</style>
