<template>
  <div class="page-container" style="width:99%;margin-top:15px;">
    <el-carousel :interval="1300" type="card" height="660px" class="carousel">
     <!-- <el-carousel-item class="carousel-item-style">
        <div><img src="@/assets/1.jpg" style="width:900px;height:600px;padding-top:15px;" /></div>
      </el-carousel-item>
      <el-carousel-item class="carousel-item-style">
        <div><img src="@/assets/01.jpg" style="width:900px;height:600px;padding-top:15px;" /></div>
      </el-carousel-item>
      <el-carousel-item class="carousel-item-style">
        <div><img src="@/assets/2.jpg" style="width:900px;height:600px;padding-top:15px;" /></div>
      </el-carousel-item>
      <el-carousel-item class="carousel-item-style">
        <div><img src="@/assets/02.jpg" style="width:900px;height:600px;padding-top:15px;" /></div>
      </el-carousel-item>
      <el-carousel-item class="carousel-item-style">
        <div><img src="@/assets/3.jpg" style="width:900px;height:600px;padding-top:15px;" /></div>
      </el-carousel-item>
      <el-carousel-item class="carousel-item-style">
        <div><img src="@/assets/03.jpg" style="width:900px;height:600px;padding-top:15px;" /></div>
      </el-carousel-item>-->
    </el-carousel>
  </div>
</template>

<script>
  export default {
    components:{
    },
    methods :{
    }
  }
</script>

<style>
  .carousel-item-style {
    width:900px;
    height:600px;
    padding-top:15px;
  }
</style>
